/* *{
  margin: 0;
  padding: 0;
}

section {
  display: flex;
  height: 90vh;
  width: 90vw;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

 .box {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 100px;
  background-color: yellow;
  border: 1px solid red;
}

.box2 {
  background-color: blue;
  position: static;
  width: 100px;
  height: 100px;
  top: 0px;
  right: 0px;
}

h1 {
  justify-content: center;
  align-items: center;
}
.box2 {
  z-index: ;
}

@media screen and (max-width=961px){
  .box{
    background-color: green;
  }
} */


* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

h1 {
  text-align: center;
}

section {
  display: flex;
  height: 90vh;
  width: 90vw;
  left: 100px;
  overflow: scroll;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.box {
  width: 100px;
  height: 100px;
  /* bottom: -100vh;
  position: relative; */
  background-color: yellow;
  border: 1px solid red;
}

/* .box2 {
  background-color: blue;
  position: absolute;
  top: 0px;
  right: 0px;
} */

/* .box2 {
  background-color: blue;
  position: fixed;
  top: 0px;
  right: 0px;
} */

/* .box2 {
  background-color: blue;
  position: sticky;
  top: 500px;
  right: 0px;
} */

.box2 {
  background-color: blue;
  position: absolute;
  z-index: 10;
}

.box3 {
  z-index: 11;
}

@media screen and (max-width: 1281px) and (orientation: landscape) {
  .box {
    background-color: brown;
  }
}

@media screen and (max-width: 450px) {
  .box {
    background-color: green;
  }
}
