.nav{
  width: 100vw;
  height: 78px;
  top: -2px;

  padding-top: 16px;
  padding-right: 220px;
  padding-bottom: 16px;
  padding-left: 220px;
  justify-content: space-between;
  color: #FFFFFF;
  display: flex;
}

.logo{
  display: flex;
  width: 197px;
  height: 36.77px;
  gap: 11.5px;
}

.del{
  display: flex;
  width: 565px;
  height: 25px;
  gap: 12px;
}

.search{
  display: flex;
  width: 272px;
  height: 46px;
  gap: 30px;
}
